.blue{
    background-color: blue;
    color: aliceblue;
}
.red{
    background-color: brown;
    color: aliceblue;
}
.yellow{
    background-color: yellow;
}
.purple{
    background-color: purple;
    color: aliceblue;
}
.green{
    background-color: green;
    color: aliceblue;
}
.bold{
    font: bold;
}